//主色
$primary-color:#27D278;
$primary-color-light:#E2FFF0;
$warning-color:#FFA136;
$warning-color-light:#FDF6EC;
$error-color:#FF363E;
$error-color-light:#fef0f0;
$white-color:#fff;
//文字
$font-main:#303133;     //主要
$font-minor:#909399;    //次要
$font-neglect:#C0C4CC;  //不重要
//边框
$border-color:#E4E7ED;
//背景
$bg-color:#F3F4F6;
//图标
$icon-color-active:$primary-color; 
$icon-color:$font-neglect;